[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
[submodule "themes/papermod-changelog"]
	path = themes/papermod-changelog
	url = https://github.com/reside-ic/papermod-changelog.git
